<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">



<div class=main>

<h1>Welcome to YES bank</h1>
<h3>Registration Form</h3>

<form (ngSubmit)="register()">
            <input type="text" name="uname" id="uname" placeholder="enter username" [(ngModel)]="uname">   <br> <br>

            <input type="text" name="accno" id="acnotext" placeholder="enter account number" [(ngModel)]="acno">   <br> <br>
           
            <input type="password" name="pswd" id="pwdtext" placeholder="enter password" [(ngModel)]="pswd">          <br> <br>
      

            <div class="line"></div>

            <input type="submit" value="Register" class="btn btn-danger">      <br><br>
  
            <a routerLink="">Log-In</a>

        </form>
        </div>
    </div>

        
        <div class="col-4"></div>
    </div>
</div>
