<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">



<div class=main>

<h1>Welcome to YES bank</h1>
<h3>Registration Form</h3>


            <input type="text" name="" id="uname" placeholder="enter username" [(ngModel)]="uname">   <br> <br>

            <input type="text" id="acnotext" placeholder="enter account number" [(ngModel)]="acno">   <br> <br>
           
            <input type="password" id="pwdtext" placeholder="enter password" [(ngModel)]="pswd">          <br> <br>
      

           
            <div class="line"></div>

            <button class="btn btn-danger" (click)="register()">Create New Account</button>          

        </div>
    </div>

        
        <div class="col-4"></div>
    </div>
</div>
