<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">



<div class=main>

<h1>Welcome to YES bank</h1>
<h3>Registration Form</h3>   <br>

<form [formGroup]="registerForm" (ngSubmit)="register()">
    
            <input type="text" name="uname" id="uname" placeholder="enter username" formControlName="uname"> <br>
            <div *ngIf="(registerForm.get('uname')?.touched || registerForm.get('uname')?.dirty) && registerForm.get('uname')?.errors" class="error">Invalid User-Name</div> <br>
            
            <input type="text" name="accno" id="acnotext" placeholder="enter account number" formControlName="acno">  <br>
            <div *ngIf="(registerForm.get('acno')?.touched || registerForm.get('acno')?.dirty) && registerForm.get('acno')?.errors" class="error">Invalid Account-Number</div> <br>
           
            <input type="password" name="pswd" id="pwdtext" placeholder="enter password" formControlName="pswd">   <br>
            <div *ngIf="(registerForm.get('pswd')?.touched || registerForm.get('pswd')?.dirty) && registerForm.get('pswd')?.errors" class="error">Invalid Password</div> <br>

            <div class="line"></div>

            <input type="submit" value="Register" class="btn btn-danger">      <br><br>
  
            <a routerLink="">Log-In</a>

        </form>
        </div>
    </div>

        
        <div class="col-4"></div>
    </div>
</div>
