<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">



<div class="main">

<h1>Welcome to YES bank <br>
<h3>{{aim}}</h3></h1> <br>


<form (ngSubmit)="login()">

<input type="text" id="acnotext" class="text" placeholder="Account Number" name="acno" [(ngModel)]="acno">  <br><br>
<input type="password" id="pwdtext" class="text" placeholder="Password" name="pswd" [(ngModel)]="pswd">  <br><br>
<input type="submit" value="Log-In" class="btn btn-success">  <br>

<a href="#" class="linktxt"> Forgot password? </a>

<div class="line"></div>

<input type="button" value="Create New Account" class="btn btn-danger" (click)="register()">

</form>
</div>
</div>

<div class="col-4"></div>
</div>
</div>
