<div class="container">
    <h1>Welcome User</h1>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="main">

                <h1>Deposit Form</h1> <br>

            <form action="#">

             <input type="text" name="" id="log" class="text" placeholder="Account Number">   <br><br>
             <input type="text" name="" id="amo" class="text" placeholder="Amount">   <br><br>
             <input type="submit" name="" value="Deposit" class="button buttonl butefct">   <br><br>

            </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>





<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">

            <div class="main">

                <h1>Withdraw Form</h1> <br>

        <form action="#">

             <input type="text" name="" id="log" class="text" placeholder="Account Number">   <br><br>

             <input type="password" name="" id="pass" class="text" placeholder="Password">   <br><br>
             <input type="text" name="" id="amo" class="text" placeholder="Amount">   <br><br>
             <input type="submit" name="" value="Withdrawal" class="button butefct">   <br><br>

        </form>
        </div>
        </div>
    </div>
        
        <div class="col-4"></div>   
</div>